<h1>Vendor Order Details: </h1>

<h1>Order: @Model["order"].Title</h1>
<h2>Order Description: @Model["order"].Description</h2>
<h2>Price: $@Model["order"].Price</h2>
<h2>Date: @Model["order"].Date</h2>
<h1>vendor: @Model["vendor"].Name</h1>
<h2>Vendor Description: @Model["vedor"].Description</h2>

<form action='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id' method="post">
<button type="submit">Delete @Model["order"].Title</button>
</form>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all Vendors</a>